<footer>

    <div id="footer-container">
        <div id="sign">
            <p>
                <\>
            </p>
        </div>
        <div id="copyright">
            <p><i class="fa-regular fa-copyright"></i> {{this.year}} Damian B.</p>
            <div id="social-urls">
                <div class="base-button social-url" *ngFor="let socialUrl of this.socialUrls">
                    <a [href]="socialUrl.url"><i class="{{socialUrl.icon}}"></i> {{socialUrl.name}}</a>
                </div>
            </div>
        </div>
    </div>
</footer>