footer {
    min-height: 100px;
    background-color: rgb(26, 26, 31);
}

#footer-container {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#footer-container #sign {
    font-size: 60pt;
    font-weight: 900;
}

#footer-container #copyright {
    font-size: 18pt;
    margin: auto;
}

/* Social urls style */

#social-urls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

#copyright p {
    text-align: center;
}

.social-url a {
    text-decoration: none;
    color: white;
}