header {
    display: flex;
    justify-content: center;
    background: rgb(26, 26, 31);
    box-shadow: 0px 10px 20px black;
    height: 200px;
}

#header-content {
    display: flex;
    flex-direction: column;
    color: white;
    width: 70vw;
    max-width: 1400px;
    margin: auto;
}

#header-content h1 {
    font-size: 60pt;
    font-weight: 900;
}

#header-content h2 {
    font-weight: 300;
    font-style: italic;
}

#header-content span {
    font-weight: 600;
    color: rgb(255, 185, 55);
}

.info-title {
    margin: 0;
    font-style: italic;
    font-weight: 200;
    font-size: 12pt;
}