<header *ngIf="owner">
    <div id="card-container">
        <div id="card" class="card-base-container">
            <img [src]="owner.imageUrl" alt="Me !">

            <div id="header-informations">
                <div id="name">
                    <{{owner.name}}>
                </div>
                <div id="job-title">
                    {{owner.jobTitle}}
                </div>
                <div id="country">
                    {{owner.country}}
                </div>
            </div>
        </div>
    </div>
</header>