.card-base-container {
    min-width: unset;
    display: flex;
    flex-direction: column;
    max-height: 550px;
    margin: 0;
    width: 350px;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 300px;
    max-height: 300px;
}

.card-base-content {
    display: flex;
    flex-direction: column;
    width: unset;
    gap: 12px;
    padding: 10px 0;
}

.card-base-content h2 {
    margin: 0;
}

.card-base-content p {
    margin: 0%;
}

.project-description {
    /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#more-button {
    font-size: 14pt;
    width: fit-content;
    margin: 5px auto;
}