.card-base-container {
    position: relative;
    min-width: unset;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    height: 100%;
    margin: 0;
    width: 350px;
}

.growth-toggle-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background: none;
    border: none;
    font-size: 12pt;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.growth-toggle-icon:hover {
    background-color: var(--primary-color);
    transition: background-color 0.2s;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 300px;
    max-height: 300px;
}

.card-base-content {
    display: flex;
    flex-direction: column;
    width: unset;
    gap: 12px;
    padding: 10px 0;
}

.card-base-content h2 {
    margin: 0;
}

.card-base-content p {
    margin: 0%;
}

.project-description {
    /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#more-button {
    font-size: 14pt;
    width: fit-content;
    margin: 5px auto;
}