:host {
    display: block;
    width: min(350px, 100%);
}

.card-base-container {
    position: relative;
    min-width: unset;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    height: 100%;
    margin: 0;
    width: 100%;
}

.growth-toggle-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 300px;
    max-height: 300px;
}

.card-base-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: unset;
    gap: 12px;
    padding: 10px 0;
}

.card-base-content h2 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-base-content p {
    margin: 0%;
}

.project-description {
    /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* always reserve 3 lines so every card has the same height */
    line-height: 1.5;
    min-height: 4.5em;
}

#more-button {
    font-size: 14pt;
    width: fit-content;
    margin: auto auto 5px;
}