#project-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    max-height: auto;
    margin: 0;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 300px;
    max-height: 300px;
}

#card-base-content {
    max-height: 100%;
}

.project-description {
    text-align: justify;
    text-overflow: ellipsis;
}