

.map_container {
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    margin-right: 16px;
    /* box-shadow: 5px 0px 50px -20px black; */
}


