<div class="modal-container">
    <div class="modal-content">
        <h1>{{project.title}}</h1>
        <img class="modal-project-img" [src]="project.imageUrl">
        <h3>{{project.creationDate}}</h3>
        <div>
            <h3>Description</h3>
            <p class="modal-project-description">{{project.description}}</p>
        </div>

        <div>
            <h3>Techstack</h3>
            <div class="modal-techstack-container">
                <div class="technologies" *ngFor="let tech of project.techStack">
                    <i class="devicon-{{ tech.name.toLowerCase() }}-plain colored" [title]="tech.name"></i>
                </div>
            </div>
        </div>
    </div>
</div>