.modal-container{
    min-width: 400px;
    min-height: 400px;
    background-color: var(--tertiary-color);
    box-shadow: 0px 5px 10px black;
    border-radius: 25px;
}

.modal-content {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.modal-project-img {
    max-width: 350px;
    border-radius: 25px;
}

.modal-techstack-container {
    width: 100%;
}

.modal-techstack-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.technologies {
    font-size: 25pt;
}