.modal-container {
    width: auto;
    height: auto;
    background-color: var(--tertiary-color);
    padding: 20px;
    box-shadow: 0px 5px 10px black;
}

img {
    max-height: 300px;
    margin: auto;
}

.techstack-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.technologies {
    font-size: 25pt;
}