<div id="readings-container" class="card-base-container">
    <div class="card-base-content">
        <h2>Readings</h2>
        <div id="readings-list-wrapper">
            @for (reading of readings; track reading) {
                <div class="reading-item-container">
                    <img [src]="reading.imgUrl" alt="">
                    <h3>{{reading.title}}</h3>
                    <p>{{reading.author}}</p>
                    <p>{{reading.year}}</p>
                </div>
            }
        </div>
    </div>
</div>