main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(var(--card-overflow-y) + 16px);
}

h2 {
    font-size: 30pt;
    margin-bottom: 25px;
}

.item-section {
    width: 70vw;
    max-width: 1200px;
    margin: auto;
    color: white;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    main {
        padding-left: 16px;
    }
}