main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(var(--card-overflow-y) + 16px);

}

h2 {
    font-size: 30pt;
}

.item-section {
    width: 70vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    main {
        padding-left: 16px;
    }
}

/* ---FOOTER--- */

footer {
    min-height: 100px;
    background-color: rgb(26, 26, 31);
}

#footer-container {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#footer-container #sign {
    font-size: 60pt;
    font-weight: 900;
}

#footer-container #copyright {
    font-size: 18pt;
    margin: auto;
}