main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: aquamarine;
    padding-left: 64px;
    padding-top: calc(var(--card-overflow-y) + 16px);

}

.main-section {
}

@media screen and (max-width: 768px) {
    main {
        padding-left: 16px;
    }
}