.map_container {
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    margin-right: 16px;
    /* box-shadow: 5px 0px 50px -20px black; */
}

/* get map in dark mode */
/* credit: https://codepen.io/Gre-Van/pen/JoPwjoX */
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    /* animation: rot 1s linear infinite; */
}

/* Alexis's deviances */
/* @keyframes rot {
    0% {filter: invert(100%) hue-rotate(0deg) brightness(95%) contrast(90%)};
    100% {filter: invert(100%) hue-rotate(360deg) brightness(95%) contrast(90%)};
} */

.leaflet-pane.leaflet-shadow-pane {
    display: none;
}