/* Main container and generic styles */

#skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap:100px;
    flex-wrap: wrap;
}

.card-base-content {
    width: 100%;
}

.wrapper {
    margin-top: 20px;
}

#left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 15px;
    width: max-content;
    width: 100%;
    max-width: 550px;
}

/* languages */
#languages-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

#languages-list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.skillbar-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.level {
    width: 30px;
    text-align: center;
    margin: auto;
    font-weight: 900;
}

.level-skillbar-spacing {
    width: 10px;
}

.background-bar {
    border-radius: 15px;
    height: 26px;
    width: 150px;
    /* https://cssgradient.io/ */
    background: linear-gradient(to right, var(--alt-primary-color) 20%, var(--primary-color) 80%);
}

.foreground-bar {
    height: 26px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 0;
    background-image: radial-gradient(circle at 0 13px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 15px,
            color-mix(in srgb, var(--tertiary-color) 85%, white) 10px);
}

/* tech stack section styles */
#techstack-container {
    height: 100%;
    max-width: 550px;
}

#techstack-list-wrapper {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.technology {
    height: 100%;
    text-align: center;
}

/* soft skills section styles */
#softskills-container {
    width: 100%;
    height: auto;
    max-width: 550px;
}

#softskills-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#softskills-item-container {
    background-color: var(--alt-primary-color);
    border-radius: 15px;
    padding: 4px 8px;
}