<div id="skills-container">
    @defer (when languages) {
    <div id="languages-container" class="container">
        <h3>Langues</h3>
        <div id="languages-item-container" class="item-container" *ngFor="let language of this.languages">
            <div class="language">{{language.name}}</div>
            <div class="skillbar-container">
                <div class="background-bar">
                    <div class="foreground-bar" [style.width.px]="(100-levelToPercent(language))/100 * 150"></div>
                </div>
                <div class="level-skillbar-spacing"></div>
                <div class="level">{{language.level}}</div>
            </div>
        </div>
    </div>
    }

    @defer (when techStack) {
    <div id="techstack-container" class="container">
        <h3>Tech stack</h3>
        <div id="techstack-item-container" class="item-container" *ngFor="let tech of this.techStack">
            <div class="tech">{{tech}}</div>
        </div>
    </div>
    }

    @defer (when softSkills) {
    <div id="softskills-container" class="container">
        <h3>Soft skills</h3>
        <div id="softskills-item-container" class="item-container" *ngFor="let softSkill of this.softSkills">
            <div class="softskill">{{softSkill}}</div>
        </div>
    </div>
    }
</div>