/* Main container and generic styles */

#skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    height: 420px;
}

.card-base-content {
    width: 100%;
}

.wrapper {
    margin-top: 20px;
}

.item-container {
    margin-bottom: 16px;
}

/* skill bar */

#languages-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.skillbar-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.level {
    width: 30px;
    text-align: center;
    margin: auto;
    font-weight: 900;
}

.level-skillbar-spacing {
    width: 10px;
}

.background-bar {
    border-radius: 15px;
    height: 26px;
    width: 150px;
    /* https://cssgradient.io/ */
    background: linear-gradient(to right, var(--alt-primary-color) 20%, var(--primary-color) 80%);
}

.foreground-bar {
    height: 26px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 0;
    background-image: radial-gradient(circle at 0 13px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 15px,
            color-mix(in srgb, var(--tertiary-color) 85%, white) 10px);
}

/* tech stack section styles */
#techstack-container {
    max-width: 600px;
    height: 100%;
}

#techstack-list-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    row-gap: 25px;
    column-gap: 20px;
    width: 70%;
}

.technology {
    padding: 4px 12px;
    background-color: var(--alt-primary-color);
    border-radius: 20px;
    font-weight: 900;
    text-align: center;
}

/* soft skills section styles */
#softskills-container {
    width: 100px;
}


#left-column {
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    height: 100%;
    gap: 15px;
}

#softskills-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}